.order-form {
  margin-top:10px;
  margin-bottom:60px;

  
  .form-control {
    margin:5px 0 20px 0;
  }

  .form-title {
    margin:20px auto;
  }

  .form-title .form-require {
    float:right;
  }

  .form-title h4 {
    display: inline-block;
  }

  .form-title span {
    float:left;
    padding:3px;
  }

  label {
    display: block;
  } 
  input {
    display: block;
    height:$form-el-height;
  }
  button {
    margin-top:20px;
    color: $primary-color;
    width:100%;
    height:$form-el-height;
  }
  .required-msg {
    display: block;
    text-align: center;
    margin-top:10px;
  }

  .form-error {
    display: inline-block;
    margin-bottom:10px;
    color:$primary-color;
  }
}

form input {
  color:$form-input-color;
  border:1px solid $form-input-color;
  height:40px;
}

.required label::before {
    content: "*";
    padding-right: 4px;
    font-size: 16px;
    color: $primary-color;
}

.require-asterisk {
  font-size: 16px;
  color: $primary-color;
}