
.jumbotron {
  position:absolute;
  top:0;
  width:100%;
  height:60%;
  height:550px;
  z-index:-1; /* allows header logo to go on top */
  background-image: url('ec2-52-26-251-52.us-west-2.compute.amazonaws.com/assets/landing/jumbotron-bg.png');
  background-size: cover;
}

/* creates an overlay on the jumbotron */
.landing {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  text-align: center;
}

.jumbotron-content {
  display: inline-block;
  margin:160px auto 50px auto;
  z-index:1;

  form {
    margin:0 auto;
    color: $neutral-color;

    input {
      background-color:rgba(255,255,255,0.5);
      width:43%;
      max-width:400px;
      height:50px;
      padding:4px;
      border-color:$primary-color;
      color:#000;
      font-weight:bold;
    }

    .input-group-addon {
      border-color:$primary-color;
      background-color: transparent;
    }

    .glyphicon {
      color:$primary-color;
    }

    /* Allows input placeholder styling to be modified */
    ::-webkit-input-placeholder {
     font-size: 14px;
     color: $primary-color;
    }
  }
}

.stores-near-user {
  display: block;
  margin:5px;
  @include font-size(1.2);
  text-decoration: underline;
  cursor:pointer;
  letter-spacing: 1.5px;
}
