
.coffee-run-info {
  margin-top:170px;
  margin-bottom:50px;
  max-width:600px;
  padding:20px 40px;
  text-align: center;
  border:1px solid $primary-color;

  h1 {
    @include font-size(3);
  }
}

.selectedStore {
  color:$primary-color;
}
