
.coffeeRunForm {
  input {
    height:$form-el-height;
    width:200px;
  }

  .order-form .form-title {
    margin:2px auto;
  }

  .form-title {
      
    h4 > span {
      font-family:$accent-font;
      float:none;
    }
  }

  .form-require {
    float:right;
  }

  label {
    margin-right:10px;
  }

  .require-asterisk {
    float:right;
  }

  .select-different-shop {
    display: block;
    text-align:left;
    clear:both;
    margin-bottom:10px;
    @include font-size(1)
    cursor:pointer;

  }

  .timeOfRun {
    padding-left: 0;

    .timeAmount {
      display: inline-block;
      width:65%;
      margin-right:20px;
    }

    .duration {
      display: inline-block;
      width:25%;
      border-radius:$form-border-radius;
    }
  }
  
}