
.coffeeRunForm {
  input {
    height:$form-el-height;
    width:200px;
  }

  .order-form .form-title {
    margin:2px auto;
  }

  .form-title {
    display: inline-block;
  
    span {
      float:none;
    }
  }

  .form-require {
    float:right;
  }

  label {
    margin-right:10px;
  }

  .require-asterisk {
    float:right;
  }

  .select-different-shop {
    display: block;
    @include font-size(1)
    cursor:pointer;

  }
}