
.landing-howto {
  margin:225px auto 60px auto;
  position:relative;

  li {
    display: inline-block;
    margin-top:20px;
    margin-bottom:20px;
    text-align: center;
    float:none;
  }

  h1 {
    display: block;
    color:#000;
  }

  img {
    display: block;
    width:80px;
    height:auto;
    margin:0 auto;
  }

  span {
    color:#000;
    width:80%;
  }
}

.landing-sections section {
  background-size:cover;
  min-height:500px;
}

.inner {
  width:25%;
  min-width:250px;
  margin:0 10px 10px 30px;
  padding:20px;
  color:$primary-color;
  background-color:rgba(255, 255, 255, 0.7);
}

.section-worldwide-outer {
  margin-bottom:-10px;
  background-image:url("../../assets/landing-section-2.jpg");
}

.section-slack-outer {
  background-image:url("../../assets/landing-section-1.jpg");

  .inner {
    float: right;
  }
}

.section-notification-outer {
  background-image:url("../../assets/landing-section-3.jpg");

  .inner {
    float:left;
  }
}
