
.landing-howto {
  margin:200px auto 60px auto;

  ul {
    max-width:600px;
    margin:0 auto;
  }

  li {
    display: block;
    margin:40px auto;
    text-align: left;
  }

  span {
    @include font-size(2);
  }
  img {
    width:80px;
    height:auto;
    margin-right:30px;
  }
}

.stores-near-user {
  display: block;
  margin:5px;
  @include font-size(1.2);
  text-decoration: underline;
  cursor:pointer;
  letter-spacing: 1.5px;
}

