
.searchResults {
  display: block;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.map, .shopList {
  display: inline-block;
  position: relative;
  width: 40%;
  min-width: 400px;
  vertical-align: top;
  overflow: scroll;
}

.map {
  height:500px;
  margin-left:25px;
  padding:0;
  border:3px solid #000;
  overflow:hidden;
}

.shopList, .runResults {
  overflow-x: hidden;
  overflow-y: hidden;
  height:500px;
   h1 {
    margin-left:30px;
    text-align:left;
    @include font-size(2.5);
   }

  .results {
    width:100%;
    height:455px;
    min-width:450px;
    text-align:left;
    overflow-y: scroll;
    overflow:scroll;

    .spinner {
      display: block;
      text-align:center;
      margin:90px auto;

      h1 {
        margin:0 auto;
        text-align: center;
      }
    }
  }

  .button, .button:focus, .button:active {
    background-color:transparent;
    color:$primary-color;
    word-wrap: break-word;
  }
}

.shop:ul:first-child {
    border-top: none;
  }

.shop {  
  ul {
    clear:left;
    display: inline-block;
    border-top:1px solid #c9cec9;
  }
  
  .shop-icon {
    display: inline-block;
    float:left;
    width:50px;
    height:50px;
  }

  img {
    margin: 0 5px -40px 30px;
  }
}


@media (max-width: 800px) {
  .shopList {
    height:auto;
  }

  .shopList .shop-icon {
    display:none;
  }
  .map {
    display:none;
  }
}