
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 4px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: $primary-color;
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
ul {
  list-style: none;
}