
footer {
  display: block;
  // position:fixed;
  // bottom:0;
  width:100%;
  margin:20px auto 10px auto;
  text-align:center;

  li {
    display: inline-block;
    margin:5px;

    .icon {
      color:$primary-color;
      cursor:pointer;
    }
  }

  span {
    display: inline-block;
    margin-right:5px;
  }
}
